ul {
  list-style: none;
}


body {
  background-image: url('http://i1031.photobucket.com/albums/y375/Stevie_Pinero/313129-earth-from-space-picsay_zps69t42vpd.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#header {
  color: orange;
  font-size: 2em;
  text-align: center;
}

#header:hover {
		color: #999999;
		text-decoration: none;
		text-transform: uppercase;
	}
header p {
  color: orange;

}

#mainmenu {
  text-align: center;

}

.button {
display: block;
width: 115px;
height: 25px;
background: orange;
padding: 10px;
text-align: center;
border-radius: 5px;
color: white;
font-weight: bold;
margin: 1em;
}
