ul {
  list-style: none;
}


body {
  background-image: url('http://i1031.photobucket.com/albums/y375/Stevie_Pinero/313129-earth-from-space-picsay_zps69t42vpd.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#order {
  color: #8A2BE2;
  font-size: 1.6em;
}

header p {
  color: #8A2BE2;

}
div {
  border-style: ridge;
  border-color: #999999;
  border-radius: 1.2em;
  background-color: #FFA347;
  font-size: 1.5em;
  opacity: 20%;
  color: red;
}
#foodlist {
  margin: 2em;
  border-style: double;
  border-color: #339933;
  border-radius: 1.4em;

}

/*#foodlist:hover {
  color: red;
}*/
